@page "/"
@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.UI.Components.Shared.Scoring
@using chd.Poomsae.Scoring.UI.Extensions
<div class="run-container">
    <div class="fighter-container">
        <FighterScore Fighter="@runDto.ChongFighter" Score="@runDto.ChongScore" />
        <div class="run-middle">
            <RunTimer @ref="this._runTimer" Time="@runDto.Time"></RunTimer>
        </div>
        <FighterScore Fighter="@runDto.HongFighter" Score="@runDto.HongScore" IsRed="true" />
    </div>
    <div class="scoring-container">
        <ScoringButtonComponent />
        <div class="scoring-middle">
            <ScoringSummaryComponent ChongScore="@runDto.ChongScore" HongScore="@runDto.HongScore" Running="@runDto.Running" StartStopRun="this.StartStopRun" />
        </div>
        <ScoringButtonComponent IsRed="true" />
    </div>
</div>


@code {
    private EliminationRunDto runDto = new()
        {
            ChongFighter = new()
            {
                Firstname = "Player",
                Lastname = "1"
            },
            HongFighter = new()
            {
                Firstname = "Player",
                Lastname = "2"
            }
        };

    private RunTimer _runTimer;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task StartStopRun()
    {
        if (!this.runDto.Running)
        {
            this.runDto.Running = true;
            this._runTimer.Start();
        }
        else
        {
            this.runDto.Running = false;
            this._runTimer.Stop();
        }
    }
}