@page "/"
@using chd.Poomsae.Scoring.Contracts.Dtos
<div class="run-container">
    <div class="fighter-container">
        <div class="fighter fighter-chong">
            <div class="fighter-scores">
                <div class="fighter-score presentation">@runDto.ChongScore.Presentation.ToString("n1")</div>
                <div class="fighter-score accuracy">@runDto.ChongScore.Accuracy.ToString("n1")</div>
                <div class="fighter-score total">@runDto.ChongScore.Total.ToString("n1")</div>
            </div>
            <div class="fighter-name">
                @runDto.ChongFighter.Fullname
            </div>
        </div>
        <div class="run-middle"></div>
        <div class="fighter fighter-hong">
            <div class="fighter-scores">
                <div class="fighter-score total">@runDto.HongScore.Total.ToString("n1")</div>
                <div class="fighter-score accuracy">@runDto.HongScore.Accuracy.ToString("n1")</div>
                <div class="fighter-score presentation">@runDto.HongScore.Presentation.ToString("n1")</div>
            </div>
            <div class="fighter-name">
                @runDto.HongFighter.Fullname
            </div>
        </div>
    </div>
    <div class="scoring-container">
        <div class="scoring scoring-chong">
            <div class="scoring-button scoring-button-big">
                <div class="scoring-button-inner"></div>
            </div>
            <div class="scoring-button scoring-button-small">
                <div class="scoring-button-inner"></div>
            </div>
        </div>
        <div class="scoring-middle">
            <div class="scores accuracy">
                <div class="score score-chong">@runDto.ChongScore.Accuracy.ToString("n1")</div>
                <div class="scores-names">Accuracy</div>
                <div class="score score-hong">@runDto.HongScore.Accuracy.ToString("n1")</div>
            </div>
            <div class="scores">
                <div class="score score-chong">@runDto.ChongScore.SpeedAndPower.ToString("n1")</div>
                <div class="scores-names">Speed And Power</div>
                <div class="score score-hong">@runDto.HongScore.SpeedAndPower.ToString("n1")</div>
            </div>
            <div class="scores">
                <div class="score score-chong">@runDto.ChongScore.RhythmAndTempo.ToString("n1")</div>
                <div class="scores-names">Rhythm And Tempo</div>
                <div class="score score-hong">@runDto.HongScore.RhythmAndTempo.ToString("n1")</div>
            </div>
            <div class="scores">
                <div class="score score-chong">@runDto.ChongScore.ExpressionAndEnergy.ToString("n1")</div>
                <div class="scores-names">Expression And Energy</div>
                <div class="score score-hong">@runDto.HongScore.ExpressionAndEnergy.ToString("n1")</div>
            </div>
            <div class="scores finish"><div class="">Finish</div></div>
        </div>
        <div class="scoring scoring-hong">
            <div class="scoring-button scoring-button-big">
                <div class="scoring-button-inner"></div>
            </div>
            <div class="scoring-button scoring-button-small">
                <div class="scoring-button-inner"></div>
            </div>
        </div>
    </div>
</div>


@code {
    private EliminationRunDto runDto = new()
        {
            ChongFighter = new()
            {
                Firstname = "Christoph",
                Lastname = "Decker"
            },
            HongFighter = new()
            {
                Firstname = "Gerhard",
                Lastname = "Huber"
            }
        };

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }
}