@page "/"
@implements IDisposable
@using Blazored.Modal.Services
@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.Contracts.Enums
@using chd.Poomsae.Scoring.Contracts.Interfaces
@using chd.Poomsae.Scoring.UI.Components.Shared.Scoring
@using chd.Poomsae.Scoring.UI.Extensions
@using chd.UI.Base.Contracts.Enum

@if (runDto is null) { return; }

<div class="run-container">
    <div class="fighter-container">
        <FighterScore Fighter="@runDto.ChongFighter" Score="@runDto.ChongScore" />
        <div class="run-middle">
            <RunTimer @ref="this._runTimer" Time="@runDto.Time"></RunTimer>
        </div>
        <FighterScore Fighter="@runDto.HongFighter" Score="@runDto.HongScore" IsRed="true" />
    </div>
    <div class="scoring-container">
        <ScoringButtonComponent ValueBig="0.3m" ValueSmall="0.1m" OnCalcClick="this.CalcScore" />
        <div class="scoring-middle">
            <ScoringSummaryComponent ChongScore="@runDto.ChongScore" HongScore="@runDto.HongScore" State="@runDto.State" HandleState="this.HandleClick" />
        </div>
        <ScoringButtonComponent IsRed="true" ValueBig="0.3m" ValueSmall="0.1m" OnCalcClick="this.CalcScore" />
    </div>
</div>


@code {
    [Inject] IModalService _modal { get; set; }
    [Inject] IStartRunService _runService { get; set; }
    [Inject] IInitDtoService initDtoService { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }

    private EliminationRunDto runDto;

    private RunTimer _runTimer;
    private IDisposable _registerLocationChangeHandler;
    protected override async Task OnInitializedAsync()
    {
        this._registerLocationChangeHandler = this._navigationManager.RegisterLocationChangingHandler(OnLocationChanging);

        this.runDto = this._runService.StartEliminiationRun();

        await base.OnInitializedAsync();
    }

    private async Task CalcScore(bool isRed, decimal value)
    {
        if (this.runDto.State is not ERunState.Started) { return; }
        this.CalculateAccuracyScore(isRed ? this.runDto.HongScore : this.runDto.ChongScore, value);
        this.runDto.Time = this._runTimer.Time;
        await this.InvokeAsync(this.StateHasChanged);
    }

    private void CalculateAccuracyScore(ScoreDto dto, decimal value)
    {
        if (dto.Accuracy - value <= 0)
        {
            dto.Accuracy = 0;
        }
        else if (dto.Accuracy - value >= this.initDtoService.ScoreDto.StartAccuracy)
        {
            dto.Accuracy = this.initDtoService.ScoreDto.StartAccuracy;
        }
        else
        {
            dto.Accuracy -= value;
        }
    }

    private async Task HandleClick()
    {
        if (this.runDto.State is ERunState.Initial)
        {
            this._runTimer.Start();
            this.runDto.State = ERunState.Started;
        }
        else if (this.runDto.State is ERunState.Started)
        {
            this.runDto.Time = this._runTimer.Time;
            this._runTimer.Stop();
            var modalResultBlue = await this._modal.Show<ScorePresentationModal>(runDto.ChongFighter.Fullname, new ModalParameters()
            {
            }, new ModalOptions()
                {
                    Size = ModalSize.ExtraLarge,
                }).Result;
            if (modalResultBlue.Cancelled)
            {
                this._runTimer.Start();
                return;
            }
            else if (modalResultBlue.Data is PresentatioScoreDto scoreDto)
            {
                this.runDto.ChongScore.SpeedAndPower = scoreDto.SpeedAndPower;
                this.runDto.ChongScore.RhythmAndTempo = scoreDto.RhythmAndTempo;
                this.runDto.ChongScore.ExpressionAndEnergy = scoreDto.ExpressionAndEnergy;
            }
            var modalResultRed = await this._modal.Show<ScorePresentationModal>(runDto.HongFighter.Fullname, new ModalParameters(){
                {nameof(ScorePresentationModal.IsRed),true}
            }, new ModalOptions()
            {
                Size = ModalSize.ExtraLarge,
            }).Result;
            if (modalResultRed.Data is PresentatioScoreDto scoreDto2)
            {
                this.runDto.HongScore.SpeedAndPower = scoreDto2.SpeedAndPower;
                this.runDto.HongScore.RhythmAndTempo = scoreDto2.RhythmAndTempo;
                this.runDto.HongScore.ExpressionAndEnergy = scoreDto2.ExpressionAndEnergy;
            }

            this.runDto.State = ERunState.Stopped;
        }
        else if (this.runDto.State is ERunState.Stopped)
        {
            this.runDto.State = ERunState.Finished;
            await this.SendResult();
        }
        else if (this.runDto.State is ERunState.Finished)
        {
            this.runDto = this._runService.StartEliminiationRun();
        }
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task SendResult()
    {

    }

    private async ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if (this.runDto.State is ERunState.Started or ERunState.Stopped)
        {
            var res = await this._modal.ShowDialog("Wollen Sie die Seite wirklich verlassen?", EDialogButtons.YesNo);
            if (res == EDialogResult.No)
            {
                context.PreventNavigation();
            }
        }
    }

    public void Dispose()
    {
        if (this._registerLocationChangeHandler is not null)
        {
            this._registerLocationChangeHandler.Dispose();
        }
    }
}
