@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.Contracts.Interfaces
@using chd.Poomsae.Scoring.UI.Extensions
@implements IDisposable
@page "/results"

<div class="result-container">
    <div class="total-results">
        <div class="total-result chong">
            <div class="total">9.1</div>
            <div class="detail presentation">6.0</div>
            <div class="detail accuracy">3.1</div>
        </div>
        <div class="total-result hong">
            <div class="total">9.1</div>
            <div class="detail presentation">6.0</div>
            <div class="detail accuracy">3.1</div>
        </div>
    </div>
    <div class="judge-results">
        <div class="judge-result chong">
            @foreach (var judge in this.resultService.Result.Results.Values)
            {
                <div class="judge">
                    <div class="name">@judge.Name</div>
                    <div class="score accuracy">@judge.ChongScore.Accuracy.ToDisplayString()</div>
                    <div class="score presentation">@judge.ChongScore.Presentation.ToDisplayString()</div>
                </div>
            }
        </div>
        <div class="judge-result hong">
            @foreach (var judge in this.resultService.Result.Results.Values)
            {
                <div class="judge">
                    <div class="name">@judge.Name</div>
                    <div class="score accuracy">@judge.HongScore.Accuracy.ToDisplayString()</div>
                    <div class="score presentation">@judge.HongScore.Presentation.ToDisplayString()</div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Inject] IResultService resultService { get; set; }
    [Inject] IBroadcastClient broadcastClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.broadcastClient.ResultReceived += ResultReceived;
        await this.broadcastClient.StartScanAsync();

        await base.OnInitializedAsync();
    }

    private async void ResultReceived(object? sender, ScoreReceivedEventArgs e)
    {
        this.resultService.SetRun(e.DeviceId, new()
            {
                JudgeId = e.DeviceId,
                Name = e.DeviceName,
                ChongScore = e.Chong,
                HongScore = e.Hong
            });
        await this.InvokeAsync(this.StateHasChanged);
    }

    public void Dispose()
    {
        this.broadcastClient.ResultReceived -= ResultReceived;
    }
}