<div class="user-detail-container">
    <div class="user-detail-label">@nameof(PSUserDto.Email)</div>
    <div class="user-detail-value">@UserDto.Email</div>
    <div class="user-detail-label">Administrator</div>
    <div class="user-detail-value"><input type="checkbox" />@UserDto.IsAdmin</div>
    <div class="user-detail-label">Hat Lizenz</div>
    <div class="user-detail-value"><input type="checkbox" />@UserDto.HasLicense</div>
    <div class="user-detail-label">gültig bis</div>
    <div class="user-detail-value"><input type="checkbox" />@UserDto.ValidTo.ToString("dd.MM.yyyy HH:mm:ss")</div>
</div>

@code {
    [Parameter] public PSUserDto UserDto { get; set; }
}