@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.Contracts.Interfaces
@using chd.Poomsae.Scoring.UI.Extensions

<div class="judge-detail-results">
    <div class="scores-group">
        <div class="scores accuracy">
            <div class="score score-chong">@this.Chong.Accuracy.ToDisplayString()</div>
            <div class="scores-names">Accuracy</div>
            <div class="score score-hong">@this.Hong.Accuracy.ToDisplayString()</div>
        </div>
    </div>
    <div class="scores-group">
        <div class="scores">
            <div class="score score-chong">@this.Chong.SpeedAndPower.ToDisplayString()</div>
            <div class="score-names">Speed & Power</div>
            <div class="score score-hong">@this.Hong.SpeedAndPower.ToDisplayString()</div>
        </div>
        <div class="scores">
            <div class="score score-chong">@this.Chong.RhythmAndTempo.ToDisplayString()</div>
            <div class="score-names">Rhythm/Tempo/Softness</div>
            <div class="score score-hong">@this.Hong.RhythmAndTempo.ToDisplayString()</div>
        </div>
        <div class="scores">
            <div class="score score-chong">@this.Chong.ExpressionAndEnergy.ToDisplayString()</div>
            <div class="score-names">Expression of Energy</div>
            <div class="score score-hong">@this.Hong.ExpressionAndEnergy.ToDisplayString()</div>
        </div>
    </div>
</div>

@code {
    [Parameter] public ScoreDto Chong { get; set; }
    [Parameter] public ScoreDto Hong { get; set; }

    [Inject] IResultService resultService { get; set; }
}