@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.UI.Extensions
<div class="fighter @this.__css">
    <div class="fighter-scores">
        <div class="fighter-score part-score presentation">
            <div class="part-score-title">@TextConstants.Presentation</div>
            <div class="part-score-value">@this.Score.Presentation.ToDisplayString()</div>
        </div>
        <div class="fighter-score part-score accuracy">
            <div class="part-score-title">@TextConstants.Accuracy</div>
            <div class="part-score-value">@this.Score.Accuracy.ToDisplayString()</div>
        </div>
        <div class="fighter-score total">@this.Score.Total.ToDisplayString()</div>
    </div>
</div>
@code {
    [Parameter] public ScoreDto Score { get; set; }
    [Parameter] public bool? IsRed { get; set; }

    private string __css => !this.IsRed.HasValue ? "fighter-neutral" : this.IsRed.Value ? "fighter-hong" : "fighter-chong";
}