@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.Contracts.Enums
@using chd.Poomsae.Scoring.UI.Extensions


<div class="scoring-summary-container">
    <div class="scores-group">
        <div class="scores accuracy">
            <div class="score score-chong">@this.ChongScore?.Accuracy.ToDisplayString()</div>
            <div class="scores-names">Accuracy</div>
            <div class="score score-hong">@this.HongScore?.Accuracy.ToDisplayString()</div>
        </div>
    </div>
    <div class="scores-group">
        <div class="scores">
            <div class="score score-chong" @onclick="async() => await this.OpenModal(false)">@this.ChongScore?.SpeedAndPower.ToDisplayString()</div>
            <div class="scores-names">Speed & Power</div>
            <div class="score score-hong" @onclick="async() => await this.OpenModal(true)">@this.HongScore?.SpeedAndPower.ToDisplayString()</div>
        </div>
        <div class="scores">
            <div class="score score-chong" @onclick="async() => await this.OpenModal(false)">@this.ChongScore?.RhythmAndTempo.ToDisplayString()</div>
            <div class="scores-names">Rhythm/Tempo/Softness</div>
            <div class="score score-hong" @onclick="async() => await this.OpenModal(true)">@this.HongScore?.RhythmAndTempo.ToDisplayString()</div>
        </div>
        <div class="scores">
            <div class="score score-chong" @onclick="async() => await this.OpenModal(false)">@this.ChongScore?.ExpressionAndEnergy.ToDisplayString()</div>
            <div class="scores-names">Expression of Energy</div>
            <div class="score score-hong" @onclick="async() => await this.OpenModal(true)">@this.HongScore?.ExpressionAndEnergy.ToDisplayString()</div>
        </div>
    </div>
    <div class="scores-group finish">
        <div class="scores ">
            <div class="" @onclick="this.HandleState">@_middleButtonText</div>
        </div>
    </div>

</div>
@code {
    [Parameter] public ScoreDto? ChongScore { get; set; }
    [Parameter] public ScoreDto? HongScore { get; set; }
    [Parameter] public Func<Task> HandleState { get; set; }
    [Parameter] public ERunState State { get; set; }
    [Parameter] public Func<bool, Task<bool>> OpenModal { get; set; }

    private string _middleButtonText => this.State switch
    {
        ERunState.Initial => "Start",
        ERunState.Started => "Stop",
        ERunState.Stopped => "Senden",
        ERunState.Finished => "Neustart",
        _ => string.Empty
    };
}