@using Blazored.Modal.Services
@using chd.Poomsae.Scoring.Contracts.Dtos
@using chd.Poomsae.Scoring.Contracts.Enums

<div class="scoring-presentation @_css">
    <div class="scoring">
        <PresentationScore Dto="this.Dto" Text="@TextConstants.SpeedAndPower" Max="2" Property="@nameof(ScoreDto.SpeedAndPower)" />
        <PresentationScore Dto="this.Dto" Text="@TextConstants.RhythmAndTempo" Max="2" Property="@nameof(ScoreDto.RhythmAndTempo)" />
        <PresentationScore Dto="this.Dto" Text="@TextConstants.ExpressionAndEnergy" Max="2" Property="@nameof(ScoreDto.ExpressionAndEnergy)" />
    </div>
</div>

@code {
    [Parameter] public EScoringButtonColor Color { get; set; }
    [Parameter] public ScoreDto Dto { get; set; }


    private string _css => this.Color is EScoringButtonColor.Red ? "score-hong" : "score-chong";
}